    <div class="container-fluid pad-x-0"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    
        <!--Carousel Wrapper-->
        <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [interval]="2500"> -->
            <!--First slide-->
            <!-- <mdb-slide *ngFor="let slide of slides"> -->
                <!-- <div class="view hm-black-light">
                    <img class="d-block w-100" src="{{slide.image}}" alt="First slide">
                    <div class="mask waves-light" mdbRippleRadius></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Light mask</h3>
                    <p>First text</p>
                </div>
            </mdb-slide> -->
            <!--/First slide-->
            <!--Second slide-->
            
            <!--/Third slide-->
        <!-- </mdb-carousel> -->
        <!--/.Carousel Wrapper-->
                
    </div>


    <div class="container-fluid"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
        <div class="item item-1 pad-y-10" fxFlex="35%" fxFlex.sm="100%" fxLayoutAlign.sm="center">
            <img class="img-circle mar-0-auto h-425" src="{{meImg}}">
        </div>
        <div class="item item-1 pad-t-10" fxFlex="65%" fxFlex.sm="100%" >
            <mat-expansion-panel mat-expanded class="mat-expansion-panel ng-tns-c5-0 mat-expanded" >
                <mat-expansion-panel-header flex="50%">
                    <mat-panel-title  class="w-125">
                        <h5 class="w-125">
                            Me
                        </h5>
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon class="">
                            face
                        </mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <p>
                    Name: Santiago Nicolas M. Granada
                </p>
                <p>
                    Age: 26
                </p>
                <p>
                    Personality: Introvert
                </p>
                <p>
                    Lagnuages: Tagalog, English, Spanish, Enochian
                </p>
                <p>
                    Dialects: Hiligaynon, Bisaya, Chabacano
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header flex="50%">
                    <mat-panel-title  class="w-125">
                        <h5 class="w-125">
                            Likes
                        </h5>
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon class="">
                            favorite
                        </mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <p>
                    Animal: Dragon
                </p>
                <p>
                    Beverage: Coffee
                </p>
                <p>
                    Snacks: Burger
                </p>
                <p>
                    Books: All for Dummies
                </p>
                <p>
                    Outdoor: KTV
                </p>
                <p>
                    Spiritual Place: Working Desk
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header flex="50%">
                    <mat-panel-title  class="w-125">
                        <h5 class="w-125">
                            Achievements
                        </h5>
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- <mat-icon class="">
                            stars
                        </mat-icon> -->
                        <i class="fa fa-trophy fa-2x fa-1-8">

                        </i>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <p>
                    Bachelor Degree in Information Technology  University of St. LaSalle - Bacolod 2014
                </p>
                <p>
                    Co-Founder - <a href="http://www.ohabart.com" target="_blank"> Ohabart 2017</a>    
                </p>

            
            </mat-expansion-panel>
        </div>
    </div>